@model test.Models.FileCabinet.FileGroup

@{
    ViewBag.Title = "Create Group";
}

<form action="/FileCabinet/CreateGroup?bandId=@ViewBag.BandId" method="post">
  
  <label for="file">Group name:</label>
  <input type="file" name="groupName" id="groupName" />
  <br />
  <input type="submit" value="Create group" />
</form>