@{
    ViewBag.Title = "Directory Listing";
}

@ViewBag.SuccessMessage

<form action="/FileCabinet/DirectoryListing?bandId=@ViewBag.BandId" method="post">
  <label for="path">Path:</label>
  <input name="path" id="path" />
  <input type="submit" />
</form>

