@{
    ViewBag.Title = "Files";
}

<div ng-app="files" ng-controller="FilesController">
    <span>hi kids</span>
</div>

@section Scripts
{
    <script type="text/javascript">
        var bandId = @ViewBag.BandId;
        var groupId = @ViewBag.GroupId;
    </script>
    <script type="text/javascript" src="@Url.Content("/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/files.js")"></script>
}