@{
    ViewBag.Title = "Files";
}

<div ng-app="files" ng-controller="FilesController">
    <span>hi kids</span>

    <table class="pretty" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th ng-click="changeSorting('FileID')">File ID</th>
            <th ng-click="changeSorting('Name')>Name</th>
            <th>Group ID</th>
            <th>Band ID</th>
            <th>Uploader ID</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>

        <tr ng-repeat="file in files | orderBy: sort.column : sort.descending">
                <td>{{ file.FileId }}</td>
                <td>{{ file.FileName }}</td>
                <td>{{ file.GroupId }}</td>
                <td>{{ file.BandId }}</td>
                <td>{{ file.UploaderId }}</td>
                <td><a ng-href="/FileCabinet/DownloadFile?fileId={{ file.FileId }}">Download</a></td>
                <td><a ng-href="/FileCabinet/DeleteFile?fileId={{ file.FileId }}">Delete</a></td>
        </tr>
    </table>






</div>

@section Scripts
{
    <script type="text/javascript">
        var bandId = @ViewBag.BandId;
        var groupId = @ViewBag.GroupId;
    </script>
    <script type="text/javascript" src="@Url.Content("/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/files.js")"></script>
}

