@model test.Models.FileCabinet.FileModel

@{
    ViewBag.Title = "File Cabinet";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

@Html.Partial("_InfoPartial", Model)

<div class="text-file">
    <div>@Model.Content</pre>
</div>
    