@model test.Models.FileCabinet.TextFileModel

<span>Model.FileDescription</span>

@Html.ActionLink("Download", "DownloadFile", new { fileId = Model.FileId });
@Html.ActionLink("Delete", "DeleteFile", new { fileId = Model.FileId });

<h2>@Model.FileName</h2>

<pre>@Model.Content</pre>
