@model test.Models.FileCabinet.FileEntry

@{
    ViewBag.Title = "Upload File";
}

@if (Model != null)
{
    <p>File uploaded successfully..</p>
    <p>@ViewBag.Content</p>
    @Html.DisplayForModel();
}

<form action="/FileCabinet/UploadFile?bandId=@ViewBag.BandId" method="post" enctype="multipart/form-data">
  
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file" />
  <input type="hidden" value="/" id="path" name="path" />
  <br />
  <input type="submit" value="Upload" />
</form>

