@model test.Models.FileCabinet.FileEntry

@{
    ViewBag.Title = "Test";
}

@if (Model != null)
{
    <p>@ViewBag.Content</p>
    @Html.DisplayForModel();
}
else
{
    <p>Model is null</p>
}

<form action="/FileCabinet/UploadFile?bandId=@ViewBag.BandId" method="post" enctype="multipart/form-data">
  
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file" />
  <input type="hidden" value="/" id="path" name="path" />
  <input type="submit" />
</form>

