@model test.Models.FileCabinet.FileModel

@{
    ViewBag.Title = "File Cabinet";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

@Html.Partial("_InfoPartial", Model)

<video width="356" height="200" controls>
    <source src="@Url.Action("DownloadVideo", "FileCabinet", new { fileId = Model.FileId })" type="video/@Model.Content" />
    <p>Your browser does not support HTML 5 video element</p>
</audio>