@model test.Models.FileCabinet.FileModel

<h2>@Model.FileName</h2>

<span>Model.FileDescription</span>

@Html.ActionLink("Download", "DownloadFile", new { fileId = Model.FileId });
@Html.ActionLink("Delete", "DeleteFile", new { fileId = Model.FileId });

<video width="356" height="200" controls>
    <source src="@Url.Action("DownloadVideo", "FileCabinet", new { fileId = Model.FileId })" type="video/@Model.ContentType" />
    <p>Your browser does not support HTML 5 video element</p>
</audio>