<section class="blarg">
    <hgroup class="title">
        <h1>Your Bands.</h1>
        <h2>Pick one of them.</h2>
    </hgroup>

    @Html.ActionLink("Create a new band", "Register", "Band")
    @Html.ActionLink("Join an existing band", "Search", "Band")

    <div ng-app="sortable" ng-controller="SortableController" ng-init="init('/Band/GetBands')">
        <span ng-click="sort('BandName')">Sort</span>

        <ol class="messages">
            <li ng-repeat="band in data | orderBy : column : descending">
                <div class="post-header">  
                    <img class="post-avatar" height="50" width="50" class="photo" alt="" ng-src="{{ band.AvatarUrl }}" />    
                    <div class="post-info">  
                        <span class="post-username">{{ band.BandName }}</span><br />
                        <span class="post-time">{{ band.CreatorName }}</span><br />
                    </div>
                </div>

                <a class="post-link" ng-href="/Dashboard/{{ band.BandId }}">Dashboard</a>
                <a class="post-link" ng-href="/Band/Profile/{{ band.BandId }}">Profile</a>
                <a class="post-link" ng-href="/Band/Leave/{{ band.BandId }}">Leave</a>
            </li>
        </ol>
    </div>
</section>

@if(Roles.IsUserInRole("Administrator"))
{
    <h3>@Html.ActionLink("Admin Page", "Index", "Admin")</h3>
}