<div ng-app="super">
    <div ng-controller="SortableController" ng-init="init('/Band/GetBands')" ng-cloak>
        <section class="blarg" ng-show="ready && !empty" >
            <hgroup class="title">
                <h1>Your Bands.</h1>
                <h2>Pick one of them.</h2>
            </hgroup>

            <input type="button" value="Sort" ng-click="sort('BandName')"/>

            <ol ng-cloak class="messages">
                <li ng-repeat="band in data | orderBy : column : descending">
                    <div class="post-header">  
                        <img class="post-avatar" height="50" width="50" class="photo" alt="" ng-src="{{ band.AvatarUrl }}" />    
                        <div class="post-info">  
                            <span class="post-username">{{ band.BandName }}</span><br />
                            <span class="post-time">{{ band.CreatorName }}</span><br />
                        </div>
                    </div>

                    <div class="post-content">
                        <a class="post-link" ng-href="/Dashboard/{{ band.BandId }}">Dashboard</a>
                        <a class="post-link" ng-href="/Profile/{{ band.BandId }}">Profile</a>
                        <a class="post-link" ng-href="/Band/Leave/{{ band.BandId }}">Leave</a>
                    </div>
                </li>
            </ol>

            @Html.ActionLink("Create a new band", "Register", "Band")
        </section>

        <section class="blarg" ng-show="ready && empty">
            <hgroup class="title">
                <h1>You're not in any bands!</h1>
            </hgroup>
    
            <h3>Here are your options:</h3>
            <ol class="round">
                <li class="one">
                    <h2>Join!</h2>
                    Search for your band and join it.
                </li>

                <li class="two">
                    <h2>@Html.ActionLink("Create!", "Register", "Band")</h2>
                    Start a new band and get your friends to join.
                </li>

                <li class="three">
                    <h2>Leave</h2>
                    And never come back.
                </li>
            </ol>
        </section>
    </div>

    <div ng-controller="SearchableController" ng-init="init('/Band/SearchBands')" ng-cloak>
        <section class="half">
            <hgroup class="title">
                <h1>Search for bands.</h1>
                <h2>Do it.</h2>
            </hgroup>


            <input type="text" value="" name="BandName" id="BandName" ng-model="criteria"/>
            <input type="submit" value="Search" ng-click="search()"/>
            <br />

            <span ng-show="searched && empty">NO BANDS FOUND</span>
            <input type="button" value="Sort" ng-click="sort('BandName')" ng-show="searched" />
            <ol class="messages">
                <li ng-repeat="band in data | orderBy : column : descending">
                    <div class="post-header">  
                        <img class="post-avatar" height="50" width="50" class="photo" alt="" ng-src="{{ band.AvatarUrl }}" />    
                        <div class="post-info">  
                            <span class="post-username">{{ band.BandName }}</span><br />
                            <span class="post-time">{{ band.CreatorName }}</span><br />
                        </div>
                    </div>

                    <div class="post-content">
                        <a class="post-link" ng-href="/Profile/{{ band.BandId }}">Profile</a>
                        <a class="post-link" ng-href="/Band/Join/{{ band.BandId }}">Join</a>
                    </div>
                </li>
            </ol>

        </section>
    </div>
</div>

@if(Roles.IsUserInRole("Administrator"))
{
    <h3>@Html.ActionLink("Admin Page", "Index", "Admin")</h3>
}