@model IEnumerable<test.Models.Band.MemberModel>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <img class="post-avatar" alt="" src="@Url.Action("DownloadAvatar", "Account", new { userId = item.MemberId})" height="50" width="50" />
            @Html.DisplayFor(modelItem => item.MemberDisplayName)
        </li>
    }
</ul>