@model IEnumerable<test.Models.Band.MemberModel>

<ol class="messages">
    @foreach (var item in Model)
    {
        <li>
            <div class="post-header">  
                <!-- <img class="post-avatar" alt="" src="@Url.Action("DownloadAvatar", "Account", new { userId = item.MemberId})" height="50" width="50" /> -->
                                   
                <div class="post-info">  
                    <span class="member-display-name">@Html.DisplayFor(modelItem => item.MemberDisplayName)</span><br />
                    <span class="member-user-name">@Html.DisplayFor(modelItem => item.MemberUserName)</span><br />
                </div>
            </div>
        </li>
    }
</ol>


