<section class="featured">
    <div class="content-wrapper">
        <img alt="" src="@Url.Action("DownloadAvatar", "Band", new { bandId = ViewBag.BandId })" height="50" width="50" class="photo" />
        
        <hgroup class="title">
            <h1>@ViewBag.BandName.</h1>
            <h2>@ViewBag.Title.</h2>
        </hgroup>
    </div>
</section>