@model IEnumerable<test.Models.UserProfile>

<ol>
@foreach (var item in Model)
{
    <li>
        @Html.DisplayFor(modelItem => item.UserName) - @Html.DisplayFor(modelItem => item.DisplayName)
    </li>
}
</ol>