@model IEnumerable<test.Models.UserProfile>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserName)</th>
        <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.UserName)</tr>
        <td>@Html.DisplayFor(modelItem => item.DisplayName)</tr>
    </tr>
}

</table>