@model IEnumerable<test.Models.Budget.Merchandise>

@if (Model != null)
{
<table>
    <thead>
        <tr>
            <th>Design Name</th>
            <th>Category</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
    @foreach (test.Models.Budget.Merchandise merchlist in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => merchlist.Name)</td>
            <td>@Html.DisplayFor(ModelItem => merchlist.Category)</td>
            <td>@Html.DisplayFor(ModelItem => merchlist.MerchSize)</td>
        </tr>
    }   
    </tbody>
</table>
}
