@model IEnumerable<test.Models.MessageBoardPostModel>

@if (Model != null && Model.Any())
{
    <ol class="messages">
        @foreach (var item in Model)
        {
            <li>
                <span class="messageBoardName">@Html.DisplayFor(modelItem => item.PosterName)</span><br />
                <span class="messageBoardTime">@Html.DisplayFor(modelItem => item.PostTime)</span><br />
                <p class="messageBoardMessage">@Html.DisplayFor(modelItem => item.Content)</p>
                @Html.ActionLink("Delete", "RemovePost", "Dashboard", new { PostId = item.PostId }, new { @class = "messageBoardLink" } )
            </li>
        }
    </ol>
}
else
{
    <span>No messages found</span>
}
