@model IEnumerable<test.Models.MessageBoardPostModel>

@if (Model != null && Model.Any())
{
    <ol class="messages">
        @foreach (var item in Model)
        {
            <li>
                Posted by @Html.DisplayFor(modelItem => item.PosterName):
                <br />
                @Html.DisplayFor(modelItem => item.PostTime)
                <br />
                @Html.DisplayFor(modelItem => item.Content)
                <br />
                @Html.ActionLink("Delete", "RemovePost", "Dashboard", new {PostId = item.PostId}, null)
            </li>
        }
    </ol>
}
else
{
    <span>No messages found</span>
}
