@model test.Models.Dashboard.PostMessageModel

<h2>Post Message</h2>

@using (Html.BeginForm("Index", "Dashboard", new { bandId = ViewBag.BandId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Post Message Form</legend>
        <div>  
            @Html.EditorFor(model => model.Content, new { cols = "100%", style = "width:250px;resize:none" })
        </div>
        <br />
        <input type="submit" value="Post" />
    </fieldset>
}