@model test.Models.Dashboard.PostMessageModel

<h2>Post Message</h2>

@using (Html.BeginForm("Index", "Dashboard", new { bandId = ViewBag.BandId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Post Message Form</legend>
        <div class="post-message">  
            @Html.EditorFor(model => model.Content)
        </div>
        <br />
        <input type="submit" value="Post" />
    </fieldset>
}