@model test.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<hgroup class="title">
    <h1>Message Board.</h1>
    <h2>You're dumb.</h2>
</hgroup>

@ViewBag.StatusMessage

@Html.Partial("_PostMessagePartial")

@Html.Partial("_DisplayMessagesPartial")