@model test.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<hgroup class="title">
    <h1>Message Board.</h1>
    <h2>You're dumb.</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@Html.Partial("_PostMessagePartial", new ViewDataDictionary(ViewData) { Model = Model.PostMessageModel } )

@Html.Partial("_DisplayMessagesPartial", new ViewDataDictionary(ViewData) { Model = Model.DisplayMessagesModel } )