@{
    ViewBag.Title = "_BandManagementPartial";
}

<section class="half">
    @Html.Partial("_SearchBandPartial")
</section>

<section class="half">
    @Html.Partial("_RegisterBandPartial")
</section>
