@{
    ViewBag.Title = "_BandManagementPartial";
}

<section class="half">
    @{ Html.RenderAction("Bands", "Band"); }
</section>

<section class="half">
    @Html.Partial("_RegisterBandPartial")
</section>
