@model test.Models.RegisterModel

<section class="half">
    <hgroup class="title">
        <h1>Nullam?</h1>
        <h2>Neque eget dignissim.</h2>
    </hgroup>

    <h3>Lorem ipsum dolor sit amet:</h3>
    <ol class="round">
        <li class="one">
            <h2>Aliquam</h2>
            Donec sollicitudin ultricies ipsum, in bibendum ante dictum vitae.
        </li>

        <li class="two">
            <h2>Pellentesque</h2>
            Sed imperdiet quis risus non tempus. Cras. 
        </li>

        <li class="three">
            <h2>Duis eget</h2>
            Phasellus fermentum sit amet est nec lacinia.
        </li>
    </ol>
</section>

<section class="half">
    @Html.Partial("_RegisterPartial")
</section>