@model test.Models.RegisterModel

<section class="half">
    <hgroup class="title">
        <h1>Hello.</h1>
        <h2>I am a goose.</h2>
    </hgroup>

    <h3>We suggest the following:</h3>
    <ol class="round">
        <li class="one">
            <h2>shut up</h2>
            you're dumb
        </li>

        <li class="two">
            <h2>go away</h2>
            you're dumb
        </li>

        <li class="three">
            <h2>never come back</h2>
            we hate you
        </li>
    </ol>
</section>

<section class="half">
    @Html.Partial("_RegisterPartial")
</section>