@model test.Models.RegisterModel

<section class="half">
    <hgroup class="title">
        <h1>Bandit?</h1>
        <h2>Bandit makes band management a cinch!</h2>
    </hgroup>

    <h3>Getting Started is easy as 1,2,3:</h3>
    <ol class="round">
        <li class="one">
            <h2>Register</h2>
            Register a new account by clicking on the "register" link above or filling out the registration on the right.
        </li>

        <li class="two">
            <h2>Create A Band</h2>
            After registering a new profile, you can create a new band profile.  Once your other band members create their own account, they can join your Bandit band profile by searching for the band name and entering in the password you create for your band profile.
        </li>

        <li class="three">
            <h2>Rock and Roll</h2>
            Manage contacts, share messages, track income and much more with the tools located on your band's dashboard's
        </li>
    </ol>
</section>

<section class="half">
    @Html.Partial("_RegisterPartial")
</section>