@model test.Models.Account.RegisterUserModel

<section class="blarg">
    <hgroup class="title">
        <h1>Bandit!</h1>
        <h2>A website for bands</h2>
    </hgroup>

    <h3>Getting started is easy:</h3>

    <ol class="round">
        <li class="one">
            <h2>Sign up</h2>
            Register a new account by filling out the form to the right or by clicking the register link.
        </li>

        <li class="two">
            <h2>Create a band</h2>
            After registering and logging in, you can create a band. Your bandmates can join the band by searching for it and entering the password.
        </li>

        <li class="three">
            <h2>Rock 'n Roll!</h2>
            Message your bandmates, manage contacts, share files, and much more with the tools located on your band's dashboard.
        </li>
    </ol>
</section>

<section class="half">
    @Html.Partial("_RegisterUserPartial")
</section>