@model IEnumerable<test.Models.BandProfile>

<h2>Bands</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BandName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BandName)
        </td>
    </tr>
}

</table>
