@{
    ViewBag.Title = "Date Test";
}

@section scripts
{
    <link type="text/css" href="@Url.Content("/Content/bootstrap.min.css")" />
    <link type="text/css" href="@Url.Content("/Content/bootstrap-timepicker.min.css")" />

    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap-timepicker.min.js")"></script>

    <script type="text/javascript">
        $('#timepicker').timepicker({
            minuteStep: 1,
            template: 'modal',
            appendWidgetTo: 'body',
            showSeconds: true,
            showMeridian: false,
            defaultTime: false
        });
    </script>
}

<div class="input-append bootstrap-timepicker">
    <input id="timepicker" type="text" class="input-small">
    <span class="add-on">
    <i class="icon-time"></i>
    </span>
</div>

