@{
    ViewBag.Title = "Date Test";
}

@section scripts
{
    <script type="text/javascript">
        $(function ()
        {
            $("#datepicker").datepicker();
        });
    </script>
}

<p>Date: <input type="text" id="datepicker" /></p>

