@{
    ViewBag.Title = "Test";
}

<div id="div-test">i'm a div</div>

<button id="btn-test">click me</button>


@section scripts
{
     <script type="text/javascript" src="@Url.Content("/Scripts/test.js")"></script>
}