<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Admin Page</h1>
            <h2>You're on it.</h2>
        </hgroup>

        <ul class="horizontal">
            <li>@Html.ActionLink("Manage Users", "Logs")</li>
            <li>@Html.ActionLink("Manage Bands", "Logs")</li>
            <li>@Html.ActionLink("View Logs", "Logs")</li>
        </ul>
    </div>
</section>
