@model test.Models.ChangeDisplayNameModel

<h3>Change display name</h3>

@using (Html.BeginForm("ChangeDisplayName", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Display Name Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName)
            </li>
        </ol>
        <input type="submit" value="Change display name" />
    </fieldset>
}
