<h3>Change avatar</h3>

<img class="avatar" alt="" src="@Url.Action("DownloadAvatar", new { bandId = ViewBag.BandId })" height="50" width="50" class="photo" />

<form action="/Band/UploadAvatar/@ViewBag.BandId" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" value="Change Avatar" />
</form>

