@model test.Models.SearchBandModel



@using (Html.BeginForm("Search", "Band"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Search Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.BandName)
                @Html.TextBoxFor(m => m.BandName)
            </li>
        </ol>
        <input type="submit" value="Search" />
    </fieldset>
}