@model test.Models.SearchViewModel

@{
    ViewBag.Title = "Search Bands";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Do it.</h2>
</hgroup>

@Html.Partial("_SearchBandPartial", new ViewDataDictionary(ViewData) { Model = Model.searchModel })
@Html.Partial("_SearchResultsPartial", new ViewDataDictionary(ViewData) { Model = Model.resultsModel })

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

