@{
    ViewBag.Title = "Online";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<h2>soundcloud test</h2>

<a href="#" id="connect">Connect with SoundCloud</a>

<script src="http://connect.soundcloud.com/sdk.js"></script>

<script>
    // initialize client with app credentials
    SC.initialize({
        client_id: '3931dd770ec54a40a44b58e80ea7c7cd',
        redirect_uri: 'http://dnab.azurewebsites.net/Online/@ViewBag.BandId'
    });

    $("#connect").live("click", function () {
        SC.connect(function () {
            SC.get('/me', function (me) {
                alert('Hello, ' + me.username);
            });
        });
    });
</script>