@{
    ViewBag.Title = "Calendar";
}


@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}




<html>
<body>

<iframe src="https://www.google.com/calendar/embed?src=cqemps0k2pkucgnd7kemkrd6p0%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</body>
</html>

@Html.ActionLink("Add event", "AddEvent")