@{
    ViewBag.Title = "Calendar";
}

<h2>Track Gigs and other Events!</h2>

<html lang="en"> 
<head> 
 <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"> 
 <title>Calendar</title> 
 <meta name="Description" content="Monthly Calendar"> 
 <meta name="keywords" content="A monthly calendar template"> 
 <!-- you should use this instead . . . <link rel="stylesheet" type="text/css" href=""> --> 
 <style type="text/css"> 
  #calendar-table { 
 width: 716px; /* 100 per cell + borders */ 
 margin:auto; 
 background:#ffffff; 
 border: 1px solid #b1b1b1; 
} 
#calendar-table td { 
 vertical-align:top; 
 width: 100px; 
 height: 100px; /* will vary with content */ 
 padding:4px; 
 background: #f8f8f8; 
 border: 1px solid #b1b1b1; 
} 
#calendar-table td p { 
 text-align: center; 
} 
#header { 
 background:#000000; 
 color:#ffffff; 
 font-weight:700; 
 padding:12px; 
 text-align: center; 
} 
#descr { 
 background:#ffffff; 
 font-style:italic; 
 padding:12px; 
 text-align: center; 
} 
 </style> 
</head> 
<body> 
<table id="calendar-table" cellpadding="0" cellspacing="0"> 
<tr> 
 <th colspan="7" id="header">January 2009</th> 
</tr> 
<tr> 
 <th colspan="7" id="descr">Course Calendar</th> 
</tr> 
<tr> 
 <td>Sun</td> 
 <td>Mon</td> 
 <td>Tue</td> 
 <td>Wed</td> 
 <td>Thu</td> 
 <td>Fri</td> 
 <td>Sat</td> 
</tr> 
<tr> 
 <td>&nbsp;</td> 
 <td>&nbsp;</td> 
 <td>&nbsp;</td> 
 <td>&nbsp;</td> 
 <td>1</td> 
 <td>2</td> 
 <td>3</td> 
</tr> 
<tr> 
 <td>4</td> 
 <td>5</td> 
 <td>6</td> 
 <td>7</td> 
 <td>8 
 <p>PL Class</p> 
 </td> 
 <td>9</td> 
 <td>10</td> 
</tr> 
<tr> 
 <td>11</td> 
 <td>12</td> 
 <td>13</td> 
 <td>14</td> 
 <td>15</td> 
 <td>16</td> 
 <td>17</td> 
</tr> 
<tr> 
 <td>18</td> 
 <td>19</td> 
 <td>20</td> 
 <td>21</td> 
 <td>22</td> 
 <td>23</td> 
 <td>24</td> 
</tr> 
<tr> 
 <td>25</td> 
 <td>26</td> 
 <td>27</td> 
 <td>28</td> 
 <td>29</td> 
 <td>30</td> 
 <td>31</td> 
</tr> 
<tr> 
 <td>30</td> 
 <td>31</td> 
 <td>&nbsp;</td> 
 <td>&nbsp;</td> 
 <td>&nbsp;</td> 
 <td>&nbsp;</td> 
 <td>&nbsp;</td> 
</tr> 
</table> 
</body> 
</html> 

