@model test.Models.Test.BandBioModel

@{
    ViewBag.Title = "Profile";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<h2>Edit bio</h2>

@using (Html.BeginForm("EditBio", "Profile", new { bandId = ViewBag.BandId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Edit Bio Form</legend>
         
        @Html.EditorFor(model => model.Bio, new { cols = "100%", style = "width:250px;" })
    
        <br />
        <input type="submit" value="Save" />
    </fieldset>
}