@{
    ViewBag.Title = "Rolodex";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<label for="Create">Create:</label>

<div>@Html.ActionLink("Create Contact", "CreateContact", new { bandId = ViewBag.BandId })</div>

@using (Html.BeginForm("CreateContact", "RolodexController", new { bandId = ViewBag.BandId }))    
{
     <div>
         <input id="create" type="submit" value="Create Contact" />
     </div>
}

<br>

@{Html.RenderAction("RolodexList", "Rolodex", new { bandId = ViewBag.BandId });}