@{
    ViewBag.Title = ViewBag.BandName + "'s Rolodex";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<form action="/Rolodex/CreateContact/@ViewBag.BandId" method="post">
      <input type="submit" value="Create Contact" />
</form>

<br>

@{Html.RenderAction("RolodexList", "Rolodex", new { bandId = ViewBag.BandId });}