@{
    ViewBag.Title = "Rolodex";
}

@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}

<div>@Html.ActionLink("Create Contact", "CreateContact", new { bandId = ViewBag.BandId })</div>

@Html.RenderAction("RolodexList", "RolodexController", new { bandId = ViewBag.BandId })